In [1]:
import pandas as pd
from pathlib import Path

# Reading a CSV file as a Pandas DataFrame

### Step 1: Create a path to the file

In [2]:
csvpath = Path("source/FinTech/MyFinTechRepo/Classwork/03-21-20/CurrentClasswork/Activities/01-Ins_Reading_CSVs/Resources/sales.csv")
csvpath = Path("../Resources/sales.csv")

### Step 2: Read the CSV into a DataFrame using Pandas

In [3]:
sales_dataframe = pd.read_csv(csvpath)
sales_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,SalePrice
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

- - -

# Reading a CSV with no Header

In [ ]:
# Without a header in the CSV, Pandas will use the first row as the header

In [ ]:
# Read the file without a header

In [ ]:
# Rewrite the column names